body{
    margin: 0;
    background-color: #02040190;
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #4b9b3b;
    font-weight: bold;
    
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 3%;
    
}
.links:hover{
    text-decoration: none;
    color:rgb(255,56 ,83 ) ;
}
.links{
    text-decoration:solid;
    margin-right: 5%;
    float: right;
    color:#000000;
}
.brand{
    display: inline;
    width: 10%;
    font-size: 200%;
    color: rgb(210, 191, 104);
    text-decoration:solid;
}
.navigators{
    color: rgb(255,246,207);  
    font:  sans-serif;
    
    margin-top: 0.8%;
    width: 60%;
    float: right;
   
}

.back{
    position: absolute;
}
.tagline{
    position: relative;
    top: 8em;
    left: 10%;
    width: 15%;
    color:#030303;
    font-style: italic;
    font-weight: bold;
    font-size: 200%;
}

.save{
   color: rgb(255,56 ,83 );
   color: rgb(255,246,207);
   color: rgb(12, 215, 198);
   color: #FFD137;
   color: #F1B30A;
   color: #90EFE0;
   color:#4791A6;
   color: #EE324A;
   color: #FF8161;
   color:#600090;
}

.topcontainer{
    font-size: 100%;
    margin-bottom: 30%;
    
}   
.places{
    text-align: center;
    color: #2e545f;
    
}
.content{
    padding: 0% 5%;
}
.city{
    display: flex;
    margin: auto;
    width: 80%;
    overflow: hidden;
    border-radius: 10px;
    background: #FFFFFF;
    
    height: auto;
    background-color:#90EFE0; ;
}
img{
    overflow: hidden;
}

div{
    margin: 0;
}
.img{
    
    border: solid;
    overflow: hidden;
    
}
.fbody{
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.container{
    max-width: 1170px;
    margin:auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
.footer{
    background-color:#000000;
    padding: 70px 50px;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
     color: #ffffff;
     text-transform: capitalize;
     margin-bottom: 35px;
     font-weight: 500;
     position: relative;
 }
 .footer-col h4::before{
     position: absolute;
     left:0;
     bottom: -10px;
     background-color: #e91e63;
     height: 2px;
     box-sizing: border-box;
     width: 50px;
 }
 .footer-col ul li:not(:last-child){
     margin-bottom: 10px;
 }
 .footer-col ul li a{
     font-size: 16px;
     text-transform: capitalize;
     color: #ffffff;
     text-decoration: none;
     font-weight: 300;
     color: #bbbbbb;
     display: block;
     transition: all 0.3s ease;
 }
 .footer-col ul li a:hover{
     color: #ffffff;
     padding-left: 8px;
 }
 .footer-col .social-links a{
     display: inline-block;
     height: 40px;
     width: 40px;
     background-color: rgba(255,255,255,0.2);
     margin:0 10px 10px 0;
     text-align: center;
     line-height: 40px;
     border-radius: 50%;
     color: #ffffff;
     transition: all 0.5s ease;
 }
 .footer-col .social-links a:hover{
     color: #24262b;
     background-color: #ffffff;
 }
 
 /*responsive*/
 @media(max-width: 767px){
   .footer-col{
     width: 50%;
     margin-bottom: 30px;
 }
 }
 @media(max-width: 574px){
   .footer-col{
     width: 100%;
 }
 }